<div class="d-flex flex-column w-100">
  <apx-chart
    [series]="executeChartOptions.series"
    [chart]="executeChartOptions.chart"
    [xaxis]="executeChartOptions.xaxis"
    [yaxis]="executeChartOptions.yaxis"
    [grid]="executeChartOptions.grid"
    [stroke]="executeChartOptions.stroke"
    [tooltip]="executeChartOptions.tooltip"
    [dataLabels]="executeChartOptions.dataLabels"
    [legend]="executeChartOptions.legend"
    [colors]="executeChartOptions.colors"
    [markers]="executeChartOptions.markers"
  >
  </apx-chart>
</div>
