<div class="card fadein">
  <div class="row">
    <div class="col-3 pe-pointer" (click)="onDeleteTouched()">
      <button class="btn btn-danger">
        <i class="bi bi-trash-fill"></i>
      </button>
    </div>
    <div class="col-6 text-center pe-pointer" (click)="onEditTouched()">
      <button class="btn">{{ item.symbol }}</button>
    </div>
    <div class="col-3 text-end pe-pointer" (click)="onEditTouched()">
      <button class="btn btn-success">
        <i class="bi bi-pencil-square"></i>
      </button>
    </div>
  </div>
</div>
