<div class="card">
  <div class="row">
    <div class="col-3 pe-pointer" (click)="onDeleteTouched()">
      <button class="btn btn-danger">
        <i class="bi bi-trash-fill"></i>
      </button>
    </div>
    <div class="col-6 text-center pe-pointer" (click)="editPopover.open()">
      <button class="btn">{{ label }}</button>
    </div>
    <div class="col-3 text-end pe-pointer" (click)="editPopover.open()">
      <button
        class="btn btn-success"
        [ngbPopover]="popContent"
        [popoverTitle]="popTitle"
        [autoClose]="false"
        triggers="manual"
        placement="end auto"
        #editPopover="ngbPopover"
      >
        <i class="bi bi-pencil-square"></i>
      </button>
    </div>
  </div>
</div>

<ng-template #popContent>
  <app-indicator-popover
    (onDelete)="editPopover.close()"
    (onSave)="editPopover.close()"
  ></app-indicator-popover>
</ng-template>
<ng-template #popTitle>Edit {{ label }} </ng-template>
