<div class="d-flex flex-column w-100">
    <apx-chart
      [series]="amountChartOptions.series"
      [chart]="amountChartOptions.chart"
      [xaxis]="amountChartOptions.xaxis"
      [yaxis]="amountChartOptions.yaxis"
      [grid]="amountChartOptions.grid"
      [stroke]="amountChartOptions.stroke"
      [tooltip]="amountChartOptions.tooltip"
      [dataLabels]="amountChartOptions.dataLabels"
      [legend]="amountChartOptions.legend"
      [colors]="amountChartOptions.colors"
      [markers]="amountChartOptions.markers"
    >
    </apx-chart>
  </div>