// Theme colors
#main-wrapper {
  &[data-layout="vertical"]{
    /*This is for the logo bg*/
    .topbar .top-navbar .navbar-header {
      &[data-logobg="skin6"] {
        background: $skin2;
        .navbar-brand {
          .dark-logo {
            display: inline;
          }
          .light-logo {
            display: none;
          }
        }
        .nav-toggler,
        .topbartoggler {
          color: $body-color;
        }
      }
    }
    .topbar .navbar-collapse,
    .topbar {
      &[data-navbarbg="skin2"] {
        background: $skin2;
      }
    }
    /*This is for the sidebar bg*/
    .left-sidebar {
      &[data-sidebarbg="skin6"] {
        background: linear-gradient($skin2, $skin2);
        background-size: 100% 70px;
        background-repeat: no-repeat;
        .sidebar-nav {
          ul {
            background: $skin6;
            .sidebar-item {
              &.active {
                > .sidebar-link {
                  color: $skin5;
                  i {
                    color: $skin2;
                  }
                }
              }
              .sidebar-link {
                color: $sidebar-text-dark;
                .feather {
                  fill: rgba(41, 98, 255, 0.1);
                }
                &:hover {
                  .feather {
                    color: $primary;
                  }
                }
                i {
                  color: $sidebar-icons-dark;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .navbar-brand {
    position: fixed;
  }
}
