<div class="row">
  <!-- FORM -->
  <div class="col-3">
    <div class="row">
      <select class="form-select">
        <option selected>Select strategy</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>

    <div class="row mt-1">
      <select class="form-select col me-1">
        <option selected>Exchange</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <select class="form-select col ms-1">
        <option selected>Market</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>

    <div class="row mt-5">
      <button class="btn btn-primary col me-1">TEST</button>
      <button class="btn btn-success col ms-1">EDIT</button>
    </div>
  </div>

  <!-- RESULTS -->
  <div class="col-9 h-100">
    <h1 class="text-center">RESULTS WILL BE DISPLAYED HERE!</h1>
  </div>
</div>
