<div class="row">
  <!-- FORM -->
  <div class="col-4" [formGroup]="form" *ngIf="form">
    <div class="row">
      <select class="form-select" formControlName="stratID">
        <option selected disabled [value]="null">Select strategy</option>
        <option *ngFor="let strat of strategies$ | async" [value]="strat.id">
          {{strat.name}}
        </option>
      </select>
    </div>

    <div class="row mt-1">
      <select class="form-select col me-1" formControlName="exchange">
        <option selected disabled value="">Exchange</option>
        <option *ngFor="let exchange of exchangeList" value="{{exchange}}">
          {{exchange | titlecase}}
        </option>
      </select>
      <select class="form-select col ms-1" formControlName="market">
        <option selected disabled value="">Market</option>
        <option
          [value]="market?.key"
          *ngFor="let market of exchange?.markets | keyvalue"
          [value]="market?.key"
        >
          {{market?.key}}
        </option>
      </select>
    </div>

    <div class="row mt-1">
      <select class="form-select col me-1" formControlName="timeframe">
        <option selected disabled value="">Timeframe</option>
        <option
          *ngFor="let timeframe of exchange?.timeframes | keyvalue"
          value="{{timeframe.key}}"
        >
          {{timeframe.value }}
        </option>
      </select>
      <select class="form-select col ms-1" formControlName="limit">
        <option selected disabled value="">Candles</option>
        <option value="100">100</option>
        <option value="500">500</option>
        <option value="1000">1000</option>
      </select>
    </div>

    <div class="row mt-5">
      <button
        class="btn btn-primary col me-1"
        [disabled]="!form.valid"
        (click)="onTest()"
      >
        TEST
      </button>
      <button
        class="btn btn-success col ms-1"
        (click)="onEdit()"
        [disabled]="!isEditAvailable"
      >
        EDIT
      </button>
    </div>
  </div>

  <!-- RESULTS -->
  <div class="col-8 h-100">
    <h1 class="text-center">RESULTS WILL BE DISPLAYED HERE!</h1>
  </div>
</div>
