:host {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4b0057;
    color: #ffffff;
    padding: var(--half-separation);
    cursor: pointer;
    margin-left: 10px;
    border-radius: 10px;
    
  
    &:hover {
      background-color: #555;
    }
  
    &.tab--active {
      background-color: #d98f00;
      color: #792323;
      border-radius: 10px;
      padding: 3px;
    }
  }
  .tab__img {
    opacity: 0.4;
    width: 20px;
    margin-right: var(--half-separation);
  }

  .changes{
    font-size: 10px;
    margin-top: 5px;
  }
  .button{

    &--flat{
      background-color: #4e4336;
      border-radius: 10px;
      margin-left: 10px;
    }
  }
  
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: var(--half-separation);

  
    img {
      width: 18px;
      opacity: 0.6;
    }
  
    &:hover img {
      opacity: 1;
    }
  }