<nav class="sidebar-nav">
  <div class="profile-section">
    <img
      src="{{ user?.image || 'assets/images/users/user4.jpg' }}"
      alt="Profile picture"
      class="profile-picture"
    />
  </div>
  <ul id="sidebarnav">
    <li
      class="sidebar-item"
      [class.active]="showMenu === sidebarnavItem.title"
      *ngFor="let sidebarnavItem of sidebarnavItems"
      [routerLinkActive]="sidebarnavItem.submenu.length !== 0 ? '' : 'active'"
    >
      <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true">
        {{ sidebarnavItem.title }}
      </div>
      <div
        class="sidebar-link waves-effect waves-dark pe-pointer"
        [routerLink]="
          sidebarnavItem.class === '' ? [sidebarnavItem.path] : null
        "
        [ngClass]="[sidebarnavItem.class]"
        *ngIf="!sidebarnavItem.extralink"
        (click)="addExpandClass(sidebarnavItem.title)"
        [routerLinkActive]="sidebarnavItem.submenu.length !== 0 ? '' : 'active'"
      >
        <i [ngClass]="[sidebarnavItem.icon]"></i>
        <span class="hide-menu">{{ sidebarnavItem.title }}</span>
      </div>
    </li>
    <li class="text-center p-3 upgrade-btn">
      <a href="https://www.google.com/" class="btn btn-lg d-block w-100"
        >Upgrade to Pro</a
      >
    </li>
  </ul>
</nav>
