<div class="card-container">
  <form [formGroup]="botForm">
    <div class="bots" formArrayName="bots">
      <div
        *ngFor="let bots of bot.controls; let i = index; trackBy: trackByBot"
        class="bots__bot-card-container"
      >
        <div
          class="bots__bot-card-container--global card"
          (click)="onBotTouched(i)"
        >
          <input class="bots__bot-card-container--input" />
          <div class="bots__bot-card-container--input-letters">
            {{bots.value}}
          </div>
        </div>
        <button
          type="button"
          class="bots__bot-card-container--remove-btn"
          (click)="removeBot(bot)"
        >
          {{deleteButtonLiteral}}
        </button>
      </div>
    </div>
    <div class="bots__bot-card-container--add-btn-container">
      <button
        type="button"
        class="bots__bot-card-container--add-btn-container-button"
        (click)="addBot()"
      >
        {{addButtonLiteral}}
      </button>
    </div>
  </form>
</div>
