<div class="w-100 position-relative">
  <button class="btn btn-lg end-0 position-absolute" (click)="onDismiss()">
    <i class="bi bi-x-circle text-danger fw-bold"></i>
  </button>
</div>

<div class="ps-5 mt-2">
  <h1>Bot Editor {{selectedBot.index + 1}}</h1>
</div>

<div class="p-5">
  <div class="row">
    <div class="col-6" [formGroup]="form" *ngIf="form">
      <div class="row">
        <select class="form-select col me-1" formControlName="exchange">
          <option selected disabled value="">Exchange</option>
          <option *ngFor="let ex of exchangeList" value="{{ex}}">
            {{ex | titlecase}}
          </option>
        </select>
        <select class="form-select col ms-1" formControlName="market">
          <option selected disabled value="">Market</option>
          <option *ngFor="let ml of marketList" value="{{ml}}">{{ml}}</option>
        </select>
      </div>
      <div class="row">
        <select class="form-select col" formControlName="strategy">
          <option selected disabled value="">Strategy</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>

    <div class="col-6">
      <h1 class="text-center">Graph and results goes here!</h1>
    </div>
  </div>

  <div class="row mt-5">
    <button class="btn btn-danger col me-1">DELETE</button>
    <button class="btn btn-danger col me-1">STOP</button>
    <button class="btn btn-success col ms-1">START</button>
    <button class="btn btn-success col ms-1">SAVE</button>
  </div>
</div>
