<div class="search-container">
  <div class="search-column">
    <label class="search">
      <img src="/assets/icons/search.svg" alt="Buscar" />
      <input type="text" [formControl]="searchControl" placeholder="Buscar" />
    </label>
  </div>
  <div class="button-column">
    <button
      type="button"
      class="bots__bot-card-container--add-btn-container-button"
      (click)="addBot()"
    >
      {{addButtonLiteral}}
    </button>
  </div>
</div>
<br><br><br>


<div class="card-container">
  <form [formGroup]="botForm">
    <div class="bots" formArrayName="bots">
      <div
        *ngFor="let bots of bot.controls; let i = index; trackBy: trackByBot"
        class="bots__bot-card-container"
      >
        <div
          class="bots__bot-card-container--global card"
          (click)="onBotTouched(i)"
        >
          <input class="bots__bot-card-container--input" />
          <div class="bots__bot-card-container--input-letters">
            {{bots.value}}
          </div>
        </div>
        <button
          type="button"
          class="bots__bot-card-container--remove-btn"
          (click)="removeBot(bot)"
        >
          {{deleteButtonLiteral}}
        </button>
      </div>
    </div>
    <div class="bots__bot-card-container--add-btn-container">
    
    </div>
  </form>
</div>

<table>
  <thead>
    <tr>
      <th>No.</th>
      <th>Cliente</th>
      <th>Fecha</th>
      <th>Total</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="filteredbots$ | async as bot">
    <tr  *ngFor="let bots of bot; let i = index">
      <td>{{ bots.value}}</td>
      <td>{{ bots.client?.name }}</td>
      <td>{{ bots.lastModified | date: "dd / MMM / YYYY" }}</td>
      <td>{{ bots.total }}</td>
      <td class="row__actions">
        <a [routerLink]="[bots.id]">
          <img src="assets/icons/open.svg" alt="open" />
        </a>
      </td>
    </tr>
  </tbody>
</table>
