.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  gap: 20px;
  max-width: 100%;
  margin: 0 auto;
}


.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  
  .search-column {
  width: 70%;
  }
  
  .button-column {
  width: 30%;
  text-align: right;
  }
  
  .search {
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 14px;
  }
  
  .search input[type="text"] {
  border: none;
  padding: 8px;
  font-size: 14px;
  width: 100%;
  }

.bots {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;

  &__bot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;

    &-card-container {
      &--global {
        padding: 5px;
        cursor: pointer;
      }

      &--input {
        border: none;
        width: 100%;
        max-width: 200px;
        font-size: 1rem;
        height: 10px;

        &-letters {
          text-align: center;
          line-height: 7;
          font-weight: 400;
          font-size: 20px;
        }
      }

      &--remove-btn {
        background-color: red;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        width: 100%;
      }

      &--add-btn-container {
        display: flex;
        justify-content: center;

        &-button {
          background-color: green;
          color: white;
          border: none;
          border-radius: 5px;
          padding: 0.5rem 1rem;
          cursor: pointer;
          margin-top: -5px;
        }
      }
    }
  }
}
  